<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StudentMapper" >

    <resultMap id="BaseResultMap" type="entry.Student" >
        <id column="id" property="id" javaType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age"  jdbcType="INTEGER" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insert" parameterType="entry.Student" useGeneratedKeys="true" keyProperty="id">
        insert into student values (#{id},#{name},#{age},#{gender})
    </insert>

    <update id="update" parameterType="entry.Student" useGeneratedKeys="true" keyProperty="id">
        update student set name=#{name},age=#{age},gender=#{gender} where id=#{id}
    </update>

    <delete id="delete" parameterType="entry.Student" >
        delete from student where id=#{id}
    </delete>

    <select id="selectAll" parameterType="entry.Student" resultType="entry.Student">
        select * from student
    </select>

</mapper>